@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0  ;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
}





/*? Variables For this Website  */

:root{
    --primary: #FEA301;
    --secondary:#111111;
    --skyblue: #01ACFD;
}

/*? Variables For this Website  */

/*? shared style  */

.primary{
    color: #FEA301;
}

.skyblue{
    color: #01ACFD;
}

.wp{
    margin: 0 auto;
    width: 80%;
}

/*? shared style end  */


/*? header section  */

.header-section{
    height: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}



.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

.logo img{
    width: 100%;
    
}

.name{
    font-size: 1.8rem;
}

.menus ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}


.menus ul li{
    font-size: 1.5rem;
    list-style: none;
}


/*? contact button  */

.contact-btn .btn {
    color: white;
    background-color: var(--primary);
    border: none;
    border-radius: 12px;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0.9rem 5rem;
}

/*? contact button  */

/*? menus collor  */

.menus #home{
    color: orange;
}

#about{
    color: #01ACFD;
}
#facilities{
    color: #05D4DF;
}

#admission{
    color: #5D58EF;
}

/*? menus collor  */


/*? hero section  */

.hero-container{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.tittle{
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}

.description{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.enroll-btn .btn{
    color: white;
    background-color:#01ACFD;
    border: none;
    border-radius: 12px;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0.9rem 5rem;
}


/*? hero section  end*/
/*? header section  end */

/*? curriculum section  */


.curriculum{
    background: url(../assets/bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
   
}

.curriculum-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.curriculum-tittle{
    font-size:2.5rem;
    margin-bottom: 80px;
    margin-top: 30px;
    
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin-bottom: 80px;
}

.card{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #dbf0f9;
    padding: 52px 40px;
    border-radius: 18px;
    background:linear-gradient(#ddf1fa,white, white, white);
    
}

.card-2{
    background: linear-gradient(#faf0db, white, white, white);
    border: 1px solid #FFF4DC;
}

.card-3{
    background: linear-gradient(#eadffb, white, white, white);
    border: 1px solid #eadffb;
}

.card-img{
    margin-bottom: 32px;
}

.card-tittle{
    font-size: 1.5rem;
    margin-bottom: 32px;
}

.card-description{
    text-align: center;
    margin-bottom: 32px;
}

.readmore-btn .btn{
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: #01ACFD;
}

.readmore-btn .card-2-btn{
    color: #F0AA00;
    
}

.readmore-btn .card-3-btn{
    
    color: #8700FF;
}


.arrows{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 70px;
    height: 70px;
    background-color: var(--primary);
    border-radius: 50%;
}



.arrows i{
    font-size: 2rem;
}



/*? curriculum section  */