@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0  ;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
}





/*? Variables For this Website  */

:root{
    --primary: #FEA301;
    --secondary:#111111;
    --skyblue: #01ACFD;
}

/*? Variables For this Website  */

/*? shared style  */

.primary{
    color: #FEA301;
}

.skyblue{
    color: #01ACFD;
}

.wp{
    margin: 0 auto;
    width: 80%;
}

/*? shared style end  */


/*? header section  */

.header-section{
    height: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}



.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

.logo img{
    width: 100%;
    
}

.name{
    font-size: 1.8rem;
}

.menus ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}


.menus ul li{
    font-size: 1.5rem;
    list-style: none;
}


/*? contact button  */

.contact-btn .btn {
    color: white;
    background-color: var(--primary);
    border: none;
    border-radius: 12px;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0.9rem 5rem;
}

/*? contact button  */

/*? menus collor  */

.menus #home{
    color: orange;
}

#about{
    color: #01ACFD;
}
#facilities{
    color: #05D4DF;
}

#admission{
    color: #5D58EF;
}

/*? menus collor  */


/*? hero section  */

.hero-container{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.tittle{
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}

.description{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.enroll-btn .btn{
    color: white;
    background-color:#01ACFD;
    border: none;
    border-radius: 12px;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0.9rem 5rem;
}


/*? hero section  end*/
/*? header section  end */

/*? curriculum section  */


.curriculum{
    background: url(../assets/bg.png) ;
    background-position: center;
    background-size: cover;
    height: 100vh;
   
}

.curriculum-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.tittle{
    font-size:2.5rem;
    margin-bottom: 80px;
    margin-top: 30px;
    
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin-bottom: 80px;
}

.card{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #dbf0f9;
    padding: 52px 40px;
    border-radius: 18px;
    background:linear-gradient(#ddf1fa,white, white, white);
    
}

.card-2{
    background: linear-gradient(#faf0db, white, white, white);
    border: 1px solid #FFF4DC;
}

.card-3{
    background: linear-gradient(#eadffb, white, white, white);
    border: 1px solid #eadffb;
}

.card-img{
    margin-bottom: 32px;
}

.card-tittle{
    font-size: 1.5rem;
    margin-bottom: 32px;
}

.card-description{
    text-align: center;
    margin-bottom: 32px;
}

.readmore-btn .btn{
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: #01ACFD;
}

.readmore-btn .card-2-btn{
    color: #F0AA00;
    
}

.readmore-btn .card-3-btn{
    
    color: #8700FF;
}


.arrows{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 70px;
    height: 70px;
    background-color: var(--primary);
    border-radius: 50%;
}



.arrows i{
    font-size: 2rem;
}



/*? curriculum section  */




/*? stories section  */

.stories{
   
    background: linear-gradient(to bottom, white, #f9e3bc, #f9e3bc);
    height: 100vh;
    
}

.stories-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.stories-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    align-items: center;
    margin-bottom: 80px;
    gap: 20px;
    
}
.story-card{
    grid-row: span 3;
    grid-column: span 2;
    width: 540px;
    height: 630px;
    display: flex;
    background-color: white;
    border-radius: 18px;
    flex-direction: column;
    justify-content:center;
    align-items: start;
    margin-bottom: 30px;
    
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 38px;
}

.story-image img{
    border-radius: 18px 18px 0 0;
    margin-bottom: 58px;
    overflow: hidden;
}

.story-date{
    position: relative;
    margin-top: -90px;
    padding: 15px 20px;
    border-radius: 47px;
    color: white;
    background-color: #3CD8E8;
    margin-bottom: 53px;
}

.story-header{
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 51px;
}

.story-description{
    margin-bottom: 34px;
}


.mini-card{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 290px;
    height: 300px;
    background-color: white;
    border-radius: 16px;
}

.mini-img img{
    border-radius: 16px 16px 0 0;
    overflow: hidden;
   
}
.mini-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 28px 37px;
}
.mini-date{
    position: relative;
    margin-top: -55px;
    background: #95B226;
    color: white;
    padding: 10px 19px;
    border-radius: 48px;
    margin-bottom: 30px;
}

.mini-heading{
    font-weight: 800;
}

.purple{
    background-color: #5D58F0;
}




/*? stories section end */